@import "~antd/dist/antd.css";

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: titillium web, sans-serif;
  position: relative;
}
.layout {
  background: #fff;
}
.footer {
  position: relative;
  bottom: 0;
  /* clear: both; */
}
/* Navbar */
header.navbar {
  width: 100%;
  min-height: 32px;
}

.navbar nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}
.navbar {
  padding: 0;
  background: #fff;
}

.nav-brand span {
  font-size: 1.5rem;
  margin-left: 7rem;
  color: #5cb85c;
}

.nav-right .nav-list {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 400px;
  margin-right: 7rem;
  padding-top: 0.5rem;
}

.nav-list .nav-items {
  font-family: source sans pro, sans-serif;
  display: block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 500;
}

.nav-list li:hover {
  font-weight: bolder;
  color: #5cb85c !important;
  cursor: pointer;
  border-color: #5cb85c;
}

a {
  font-family: source sans pro, sans-serif;
  display: block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  font-weight: 500;
}

a:hover {
  font-weight: bolder;
  color: #5cb85c !important;
  cursor: pointer;
}

.ant-pagination-item a:hover {
  font-weight: bolder;
  color: #5cb85c !important;
  cursor: pointer;
}

/* Banner */
.banner {
  background: #5cb85c;
  height: auto;
  text-align: center;
  padding: 2rem;
  color: #fff;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3),
    inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
}

.banner h1 {
  font-size: 3.5rem;
  margin: 0;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: -10px;
}

.banner span {
  font-family: source sans pro, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Content */
.content {
  margin: 0.5rem 7rem 2rem;
}

.content row {
  height: 100%;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

/* Popular Tags */
.ant-card {
  background: #f3f3f3;
  height: auto;
  border-radius: 8px;
}

.ant-card .ant-card-head {
  padding: 0 0.8rem;
}

.ant-card-head-title {
  padding: 0.8rem 0 0;
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  text-align: center;
}

.ant-card-body {
  padding: 0.5rem 0.8rem 1rem;
  display: block;
}

.ant-card-body .ant-tag {
  background: #818a91;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.ant-tag .tag {
  font-family: source sans pro, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 3px 1.5px;
}
/* Article */
.article {
  margin-right: 1rem;
}
/* Tab */
.ant-tabs-tab-btn {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  color: #aaa;
}

.ant-tabs-tab:hover {
  color: #5cb85c;
}

.ant-tabs-ink-bar {
  background: #5cb85c;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5cb85c;
  border-color: #5cb85c;
}

/* icon */
.icons {
  margin: 0 12px;
}
button.ant-btn.ant-btn-icon-only:hover {
  border-color: #5cb85c;
  background: #5cb85c;
  color: #fff;
}
.anticon.anticon-heart:hover {
  color: #fff !important;
}
.ant-btn {
  border-color: #5cb85c;
}

.ant-btn:hover {
  color: #fff !important;
}
.ant-badge button {
  border-radius: 50%;
}

/* Article */
.ant-list-item-meta-title a {
  font-family: source sans pro, sans-serif !important;
  font-size: 0.9rem;
  font-weight: 500;
  color: #5cb85c;
}
.ant-list-item-meta-title {
  margin: 0;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0;
}

.ant-list-item-meta-title a:hover {
  color: #2b572b;
  text-decoration: underline;
}
.ant-list-item-meta-description {
  font-family: source sans pro, sans-serif !important;
  font-size: 0.7rem;
}
.ant-list-vertical .ant-list-item-extra {
  margin-left: 0;
  width: 70%;
}

.ant-list-vertical .ant-list-item-action {
  display: flex;
  justify-content: space-between;
}

.ant-space-item {
  width: 10rem;
  text-align: left;
}

.ant-list-lg .ant-list-item {
  padding: 1rem 0;
}
.content-main p {
  font-family: source sans pro, sans-serif !important;
  color: #aaa;
}
.content-main h1 {
  font-family: source sans pro, sans-serif !important;
  font-weight: 600;
  margin-bottom: 0;
}
.ant-space-item span {
  font-family: source sans pro, sans-serif !important;
  font-size: 0.7rem;
}
.ant-space-item span:hover {
  font-weight: bold;
}
/* Article Favorite */
.icons {
  display: grid;
  float: right;
}
.icons .ant-badge {
  float: right;
}

.icons .content-tag {
  width: 30rem;
  float: right;
  display: block;
  margin-top: 5rem;
}
.favorite {
  display: block;
}

.icons .content-tag span:hover {
  cursor: pointer;
  background: #f3f3f3;
}

.ant-tag-lime {
  border-radius: 12px;
  margin-bottom: 5px;
}

.content-tag .ant-tag {
  float: right;
}
/* Pagination */
.paginate-wrapper {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  float: none;
}

.ant-pagination {
  text-align: center;
}
/* Footer */
.footer {
  width: 100%;
  height: 15%;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  background: rgb(238, 238, 238);
  padding-top: 8px;
}

/* Sign In */
.center-f-c {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.center-f-c .font-xl {
  font-size: 40px;
  font-family: source sans pro, sans-serif !important;
}

.center-f-c .font-sm {
  color: #5cb85c;
}

.center-f-c .font-sm:hover {
  text-decoration: underline;
}

.login-form {
  text-align: center;
  /* align-content: center; */
}

.ant-form-item-control-input-content {
  max-width: 40%;
  margin: auto;
  max-height: 2.5rem;
}

.ant-input-affix-wrapper {
  height: 6vh;
  border-radius: 1rem;
}

.ant-btn-primary {
  background: #5cb85c;
  border-radius: 0.3rem;
  max-height: 50%;
}

.ant-btn-primary:hover {
  background: #1a961a;
  border-color: #1a961a;
}

.ant-form-item-control-input-content button {
  margin-left: 27.5rem;
  height: 5vh;
}
